---

---

<address class="lista-enlaces">
	<a 
		itemprop="url"
		href="/"
		title="Página Web">
		www.edgarcornejo.com
	</a>

	<a
		itemprop="email"
		href="mailto:info@edgarcornejo.com"
		title="info@edgarcornejo.com"
		target="_blank">
		info@edgarcornejo.com
	</a>

	<a
		itemprop="telephone"
		href="tel:+51974795622"
		title="+51974795622"
		target="_blank">
		Llamar
	</a>

	<a
		href="https://wa.me/message/EEEHZULZQV5QG1"
		title="WhatsApp"
		target="_blank">
		WhatsApp
	</a>

	<a
		itemprop="nickname"
		href="https://www.instagram.com/devcornejo"
		title="Sígueme en Instagram"
		target="_blank">
		devcornejo
	</a>
</address>