---
import { getCollection } from "astro:content";

const posts = (await getCollection('publicaciones')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<p class="lista-enlaces">
	{
		posts.map((post: any, index: any) => {
			const { slug, data } = post;
			const { title } = data;
			return index < 6 ? (
				<a href={`/publicaciones/${post.id}`} title={title}>
					{title}
				</a>
			) : null;
		})
	}
	<a href="/publicaciones/" class="ultimo-enlace" title="Ver más">Ver más</a>
</p>
